

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 100px 100px;
	grid-gap: 10px;
}

h1{
	color:aqua
}

.box1 {
	background-color: yellowgreen;
	grid-column: 2 / 4;
	grid-row: 1;
}

.box2 {
	background-color: palevioletred;
	grid-column: 1;
	grid-row: 1 / 3;
}

.box3 {
	background-color: firebrick;
	grid-row: 2/100;
	grid-column: 3;
}

img.box1 {
	height: 50%;
	width: 50%;
	object-fit: scale-down;
}

img.box2 {
	height: 100%;
	width: 100%;
	object-fit: scale-down;
}

img.box3 {
	height: 100%;
	width: 100%;
	object-fit: scale-down;
}



.imgGaming {
	width: 100%;
	height: 100%;
	animation: HueRotate 1s linear infinite;
	object-fit: scale-down;
}



@keyframes HueRotate {
	from {
		filter: hue-rotate();
	}

	to {
		filter: hue-rotate(360deg);
	}
}

